header{
	
	height: 70px;
	width: 100%;
	background-image: url('yellow.jpg');
	position: fixed; /* Make it stick/fixed */
	z-index: 12;
}
.site-nav-one{ 
	display:  flex;
	justify-content: space-between;
	align-items: center;
	min-height: 8vh;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.list{
	display:flex;
	flex-direction: row;
	justify-content: space-around;
}
.list li{
	list-style: none;

}

.list li a{
	text-decoration: none;
    margin-left: 40px;
    text-transform: uppercase;
    color: black;
	font-weight: bolder;
}
.list li a:hover{
	text-decoration: none;
    margin-left: 40px;
    text-transform: uppercase;
    color: black;
	font-weight: bolder;
	border: 2px solid white;
	border-radius: 20px; 
    -webkit-border-radius: 5px;
	padding: 5px;

}


.our-head{
	background-color: black;
     height: 400px;

}
.our-head .containerh h1{
text-transform: uppercase;
	text-align: center;
	letter-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
	padding-top:100px;
	
}
.our-head .containerh p{
	text-align: center;
	letter-spacing: 2px;
	word-spacing: 2px;
	font-family: 'Bonheur Royale', cursive;
}
.our-head .ad{
	
	background-color: whitesmoke;
	display:  flex;
	flex-direction:  row;
	justify-content:  space-between;
	padding: 20px;
	box-sizing:  border-box;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 17px;
	font-family: 'Montserrat', sans-serif;

}

.ad a:hover{
	color:  rgb(202,31,123);
}
.ad1 {order: 1; 	margin-left: 20px; }
.ad1 a {text-decoration: none; color:  black; display:  block;}
.ad2 {order: 3;	margin-left: 20px; }
.ad2 a {text-decoration: none;color:  black;}
.ad3 {order:  2; 	margin-left: 20px; margin-right: 2px}
.ad3 a {text-decoration: none;color:  black;}

.land{
	background-image: url('blue.jpg');
	background-position: center;
	background-size: cover;
	height: 100vh;
	
}
.land-l{
	padding: 30px;
	width: 60%;
	font-family: 'Montserrat', sans-serif;
	background-color: rgba(0,0,0,0.5);
	text-transform: uppercase;
}
.land-l h1{
	color: #ffae42;
	font-weight: bolder;
	word-spacing: 15px;
	
}
.land-l p{
	color: white;
	word-spacing: 10px;
}
.clickMe{
	margin-top: 30px;
	margin-left: 30px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	background-color:#ffae42 ;
	border: 7px solid whitesmoke;
	font-weight: bolder;
	border-radius: 50px; 
    -webkit-border-radius: 50px;
}
.clickMe a{
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 20px;
}
.clickMe a:hover{
	color: black;
}
.clickMe:hover{
	border: 7px solid black;
}
/*Carousel or Slideshow*/
.carousel-inner {
	height: 600px;
    width:  450px;
    margin-top:  18px;
	margin-bottom: 20px;
}
.col-md-8 h1{
 padding: 15px;
 color:  black;
 text-transform: uppercase;
 margin-bottom:  20px;
 box-sizing:  border-box;
 transition:  2s ease-in-out ;
 font-family: 'Montserrat', sans-serif;
}
.col-md-8 h1:hover{
	color:  #ffc40c;
	text-shadow: rgba(240,225,48,0.5);
	transform: scale(1.1,1.1) translateY(10%) translateX(5%);
	transition: ease-out;
	transition-duration: 2s;
	font-family: 'Montserrat', sans-serif;
}


/*Site navigation*/


.col-md-4{
	display:  flex;
	flex-direction: column;
	
}
.side{
	background-color: #ffe4e1;
	margin-top: 20px;
	font-family: 'Montserrat', sans-serif;
	
}

.collapse{
	margin-top: 10px;
	margin: 10px;
	padding: 15px;
	box-sizing:  border-box;
	background-color: rgba(0,0,0,0.3);
	border: 2px solid rgba(250,250,210,0.5) ;
	border-radius: 15px;
	
}
.collapse h3{
	text-transform: uppercase;
	color: rgb(202,31,123);
	letter-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
}

.collapse p{
	font-size: 15px;
	line-height: 22px;
	letter-spacing: 1.1px;
	word-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
}

footer{
	background-color: #100c08;
	width: 100%;

}
.end{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.end p{
	word-spacing: 6px;
	font-family: 'Bonheur Royale', cursive;
	font-size: 20px;
	letter-spacing: 1.6px;
}
.end ul{
	list-style: none;
	text-decoration: none;
	color: whitesmoke;
	font-family: 'Montserrat', sans-serif;
}
footer p{
	padding: 10px;
	color: whitesmoke;
	font-family: 'Montserrat', sans-serif;
}
@media (max-width: 900px){
	.land{
		background-image: url('blue.jpg');
		background-position: center;
		background-size: cover;
		height: 90vh;
		
	}
	.land-l{
		padding: 30px;
		width: 100%;
		font-family: 'Montserrat', sans-serif;
		background-color: rgba(0,0,0,0.5);
		text-transform: uppercase;
	}
	.land-l h1{
		color: #ffae42;
		font-weight: bolder;
		word-spacing: 5px;
		
	}
	.land-l p{
		color: white;
		word-spacing: 5px;
	}
	.clickMe{
		margin-top: 10px;
		margin-left: 10px;
		font-family: 'Montserrat', sans-serif;
		padding: 20px;
		background-color:#ffae42 ;
		font-size: 15px;
		border: 7px solid whitesmoke;
		text-transform: uppercase;
		font-weight: bolder;
		border-radius: 50px; 
		-webkit-border-radius: 50px;
	}
	footer{
        padding: 0px;
        margin-top: 10px;
    }
    .end{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .end p{
        word-spacing: 6px;
        font-family: 'Bonheur Royale', cursive;
        font-size: 10px;
        letter-spacing: 1.6px;
    }
    .end ul{
        margin-top:5px;
        margin-right: 15px;
        font-size: 5px;
    }
    footer p{
        padding:10px;
        font-size: 5px;
        font-size: 5px;
        word-spacing: 10px;
       
    }
}