*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}

body{
    display:flex;
    
    flex-direction: column;
    margin:0;
    background-image: url('new.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    
}
.parent{
    margin: 0px;
    padding: 40px;
    box-sizing: border-box;
}
.main{
    height: 70px;
	width: 100%;
    background-image: linear-gradient(to left, black,white);
    opacity: 0.6;
	position: fixed; /* Make it stick/fixed */
	z-index: 12;
}
.main .logo{
    color: black;
}

.site-nav-one{
    display:  flex;
	justify-content: space-around;
	align-items: center;
	min-height: 8vh;
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	letter-spacing: 2px;
    padding: 10px;
}
.list{
display: flex;
align-items: flex-end;


}
.list li{
    list-style: none;
}
.list li a{
    text-decoration: none;
    margin-left: 40px;
    text-transform: uppercase;
    color: white;
}

.list li a:hover{
    color: white;
    font-weight: bolder;
	border: 2px solid white;
	border-radius: 20px; 
    -webkit-border-radius: 5px;
	padding: 5px;
}


.header{

    margin-top: 20px;
    margin-bottom: 15px;
   
}

.header h2{
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}
.header h2:hover{
    color: #ffae42;
    font-weight: bolder;
	border: 2px solid white;
	border-radius: 20px; 
    -webkit-border-radius: 5px;
	
}


form{
   margin: 0;
    width: 50%;
    font-family: 'Montserrat', sans-serif;
    padding:10px;
}


.primary-edit .edit{
    background-color: rgba(255,174,66,0.1);
   
}
form .form-control label{
width: 100%;
color: black;
font: 15px;
font-weight: bolder;


}
.form input{
    padding: 10px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font: 15px;
    font-weight: bolder;
   
}

form div i {
    position: absolute;
    padding: 10px;
  }
  
  .success-icon,
  .failure-icon {
    
    opacity: 0;
  }
  
  .failure-icon,
  .error {
    color: red;
  }
  
  .success-icon {
    color: green;
  }
  
  .error {
    font-size: 14.5px;
    margin-top: 5px;
  }
  
.form .btn{
    color:black;
     background-color: #fff;
     border: 5px solid #fadadd;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    margin-top: 20px;
    font-size: 13px;
    width: 100%;
    margin-bottom: 30px;

}
.form .btn:hover{
    color: black;
    background-color: #fadadd;
}

footer{
    border-top: 0px;
	background-color: #100c08;
	width: 100%;
    padding: 50px;

}
.end{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.end p{
	word-spacing: 6px;
	font-family: 'Bonheur Royale', cursive;
	font-size: 20px;
	letter-spacing: 1.6px;
}
.end ul{
	list-style: none;
	text-decoration: none;
	color: whitesmoke;
	font-family: 'Montserrat', sans-serif;
}
footer p{
	padding: 10px;
	color: whitesmoke;
	font-family: 'Montserrat', sans-serif;
}

@media (max-width: 900px){
    form{
        width: 100%;
    }
    footer{
        padding: 0px;
        margin-top: 10px;
    }
    .end{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .end p{
        word-spacing: 6px;
        font-family: 'Bonheur Royale', cursive;
        font-size: 10px;
        letter-spacing: 1.6px;
    }
    .end ul{
        margin-top:5px;
        margin-right: 15px;
        font-size: 5px;
    }
    footer p{
        padding:10px;
        font-size: 5px;
        font-size: 5px;
        word-spacing: 10px;
       
    }
}